<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tidred.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tidred.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tidred</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$tidred</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="TidredEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:o2bj22izne.database.windows.net,1433;Initial Catalog=ItbDbWe;Integrated Security=False;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Connect Timeout=30;Encrypt=True;Application Name=Tidred" Name="Server=tcp:o2bj22izne.database.windows.net,1433;Database=ItbDbWe;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=Tidred" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Tidred.Repo.TidredContext, Tidred.Repo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:o2bj22izne.database.windows.net,1433;Initial Catalog=ItbDbWe;Integrated Security=False;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Connect Timeout=30;Encrypt=True;Application Name=Tidred" Name="Server=tcp:o2bj22izne.database.windows.net,1433;Database=ItbDbWe;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=Tidred" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;Initial Catalog=ItbTid;Integrated Security=True;Application Name=Tidred" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(localdb)\v11.0;initial catalog=ItbTid;integrated security=SSPI;MultipleActiveResultSets=True;App=Tidred" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:o2bj22izne.database.windows.net,1433;Database=ItbDbWe;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=Tidred</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TidredEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TidredEntities.csdl|res://*/TidredEntities.ssdl|res://*/TidredEntities.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:o2bj22izne.database.windows.net,1433;Database=ItbDbWe;User ID=itb@o2bj22izne;Password=DB-Sam!2978;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;App=Tidred"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>