<div ng-controller="customerEditController">
    <h2>Customers</h2>

    <form name="customerForm" ng-submit="save(customerForm)">
        <fieldset>
            <legend>Edit</legend>
            <div class="form-group">
                <label>Name</label>
                <input name="nameText" type="text" class="form-control" ng-model="customer.name" required />
            </div>
            <div class="form-group">
                <label>Currency</label>
                <select name="currencySelect" class="form-control" ng-model="customer.currencyId" required
                        ng-options="currency.currencyId as currency.name for currency in currencies"></select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <input type="button" class="btn btn-default" ng-click="cancel()" value="Cancel" />
            </div>
            <span ng-show="customerForm.nameText.$error.required">Enter name.</span>
            <span ng-show="customerForm.currencySelect.$error.required">Select currency.</span>
        </fieldset>
    </form>
</div>