@{
    ViewBag.Title = "Admin";
} 

@section PartialHead
{
<script src="~/appAdmin/adminApp.js"></script>
<script src="~/appAdmin/adminService.js"></script>
<script src="~/appAdmin/adminController.js"></script>
<script src="~/appAdmin/customerController.js"></script>
<script src="~/appAdmin/customerEditController.js"></script>
<script src="~/appAdmin/projectController.js"></script>
<script src="~/appAdmin/projectEditController.js"></script>
<script src="~/appAdmin/userController.js"></script>
<script src="~/appAdmin/userCreateController.js"></script>
}

<h2>ADMIN</h2>

<div ng-app="adminApp" class="container">
    <div ng-controller="adminController">
        <div class="row">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#{{urls.user}}">
                        <img src="~/Content/tidred/User.jpg" width="120" height="120" />
                        <p>USERS</p>
                    </a>
                </li>
                <li>
                    <a href="#{{urls.project}}">
                        <img src="~/Content/tidred/Project.jpg" width="120" height="120" />
                        <p>PROJECTS</p>
                    </a>
                </li>
                <li>
                    <a href="#{{urls.customer}}">
                        <img src="~/Content/tidred/Customer.jpg" width="120" height="120" />
                        <p>CUSTOMERS</p>
                    </a>
                </li>
            </ul>
        </div>
        <div ng-view></div>
    </div>
</div>
