<div ng-controller="userController">
    <h2>USERS</h2>
    <div class="row">
        <p>
            <a href="#{{urls.userCreate}}">NEW USER</a>
        </p>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.userName}}</td>
        </tr>
    </table>
</div>
